.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.advantages-details {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  opacity: 0;
}

.advantages-image {
  background-color: #eef4ff;
  overflow: hidden;
  opacity: 0;

  & img {
    object-position: -25px 5px;
  }
}

@media (min-width: 768px) {
  .advantages-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    &:nth-of-type(odd) .advantages-image {
      border-radius: 0px 50px 50px 0px;
    }

    &:nth-of-type(even) .advantages-image {
      border-radius: 50px 0px 0px 50px;
    }
  }

  .advantages-image {
    min-width: 300px;
    max-width: 690px;

    & img {
      object-position: 0;
      width: 100%;
    }
  }

  .advantages-details {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .advantages-details {
    gap: 50px;
  }
}

@media (min-width: 1200px) {
  .advantages-container:nth-of-type(odd) .advantages-image {
    border-radius: 0px 100px 100px 0px;
  }

  .advantages-container:nth-of-type(even) .advantages-image {
    border-radius: 100px 0px 0px 100px;
  }
}
