@use "./abstracts/abstracts" as *;
@use "./layouts/layouts" as *;
@use "./components/components" as *;
@use "./base/base" as *;

// text modifiers
.text--nunito {
  font-family: $nunito-font;
}
.text--poppins {
  font-family: $poppins-font;
}

.from-right-animation {
  animation: from-right-animation 1s ease-out forwards;
}

.from-left-animation {
  animation: from-left-animation 1s ease-out forwards;
}

@keyframes from-right-animation {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes from-left-animation {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// Hero section
.hero {
  padding-top: 140px;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.hero-introduction {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  max-width: 480px;
  margin: 0 auto;

  &__header {
    font-weight: 600;
  }

  &__summary {
    color: #747474;
  }

  &__download-btn {
    font-family: $nunito-font;
  }
}

.hero-background {
  background-color: black;
  min-height: 400px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #d6e5fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  &__image {
    z-index: 3;
    position: relative;
    max-width: 350px;
  }

  &__circle:nth-of-type(1) {
    height: 280px;
    width: 280px;
    position: absolute;
    left: -90px;
    top: -100px;
    border: 50px solid #f5f9ff;
    border-radius: 100%;
    opacity: 0.4;
  }

  &__circle:nth-of-type(2) {
    height: 280px;
    width: 280px;
    position: absolute;
    right: -90px;
    bottom: -100px;
    border: 50px solid #f5f9ff;
    border-radius: 100%;
    opacity: 0.4;
  }
}

@keyframes hero-background-animation {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 640px) {
  .hero-introduction__download-btn {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .hero-introduction {
    margin: 0;
  }

  .hero-background {
    min-height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 400px;
    border-radius: 0px 0px 0px 100px;
    margin-top: auto;
  }
}

@media (min-width: 1024px) {
  .hero {
    overflow: visible;
  }

  .hero-introduction {
    max-width: 510px;
  }

  .hero-background {
    width: 40%;
    min-height: 700px;
    max-width: none;

    &__image {
      width: 100%;
      max-width: none;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    padding: 140px 40px 0 40px;
  }

  .hero-introduction {
    gap: 50px;
  }

  .hero-background {
    width: 45%;
    max-width: 800px;

    &__image {
      width: 95%;
    }

    &__circle:nth-of-type(1) {
      height: 440px;
      width: 440px;
      left: -140px;
      top: -180px;
      border: 90px solid #f5f9ff;
    }

    &__circle:nth-of-type(2) {
      height: 440px;
      width: 440px;
      right: -140px;
      bottom: -180px;
      border: 90px solid #f5f9ff;
    }
  }
}

@media (min-width: 1280px) {
  .hero-background {
    min-height: 800px;
  }
}

// Features
.features {
  padding: 50px 20px 80px 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .features {
    padding-top: 120px;
  }
}

@media (min-width: 1024px) {
  .features {
    padding-top: 200px;
  }
}

@media (min-width: 1200px) {
  .features {
    padding: 240px 40px 0 40px;
  }
}

// Advantages
.advantages {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

@media (min-width: 1200px) {
  .advantages {
    padding: 100px 0 0 0;
  }
}

// Testimonial
.testimonial {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

.testimonial-image {
  background-color: #eef4ff;
  padding-right: 30px;
  display: none;

  border-radius: 0 100px 100px 0;
}

.testimonial-showcase {
  padding: 0 20px;
}

.testimonial-showcase-header {
  text-align: center;
}

@media (min-width: 768px) {
  .testimonial {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 100px;
  }

  .testimonial-image {
    display: block;
    max-width: 700px;
  }

  .testimonial-showcase {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .testimonial-showcase-header {
    text-align: start;
  }

  .testimonial {
    justify-content: flex-start;
    gap: 100px;
  }

  .testimonial-showcase {
    max-width: 800px;
  }
}
