@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text--nunito {
  font-family: "Nunito", sans-serif;
}

.text--poppins {
  font-family: "Poppins", sans-serif;
}

.text--xlarge {
  font-size: 2.5rem;
  line-height: 60px;
}

@media (min-width: 640px) {
  .text--xlarge {
    font-size: 4rem;
    line-height: 80px;
  }
}
@media (min-width: 1024px) {
  .text--xlarge {
    line-height: 90px;
  }
}
.text--small {
  line-height: 30px;
  font-size: 0.85rem;
}

@media (min-width: 640px) {
  .text--small {
    font-size: 1rem;
  }
}
.text--medium {
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .text--medium {
    font-size: 2rem;
    line-height: 55px;
  }
}
.btn--transparent-blue {
  border: 2px solid #2d76f9;
  border-radius: 30px;
  color: #2d76f9;
  padding: 10px 40px;
  font-size: 1.3rem;
}

@media (min-width: 1024px) {
  .btn--transparent-blue:hover {
    background-color: #2d76f9;
    color: white;
  }
}
.btn--blue {
  border: 1px solid #2d76f9;
  background-color: #2d76f9;
  color: white;
  padding: 25px 60px;
  border-radius: 40px;
}

@media (min-width: 1024px) {
  .btn--blue:hover {
    background-color: white;
    color: #2d76f9;
  }
}
.btn--white-outline {
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  padding: 10px 40px;
  font-size: 1.3rem;
}

@media (min-width: 1024px) {
  .btn--white-outline:hover {
    background-color: white;
    color: #2d76f9;
  }
}
.btn--white {
  background-color: white;
  color: #2d76f9;
  width: 100%;
  max-width: 204px;
  font-family: "Poppins", sans-serif;
  padding: 18px 0;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid white;
}

@media (min-width: 1024px) {
  .btn--white:hover {
    background-color: #2d76f9;
    color: white;
    border-color: white;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  z-index: 10;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-logo__text {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}
.header-logo__text span {
  color: #2d76f9;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #2d76f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
}
.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.navigation__anchor {
  color: white;
  font-size: 1.3rem;
  font-family: "Nunito", sans-serif;
}
.navigation__about-btn {
  margin-top: 70px;
  font-family: "Nunito", sans-serif;
}

.hamburger-menu {
  border: 2px solid #2d76f9;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  z-index: 2;
}
.hamburger-menu__line {
  border: 1px solid #2d76f9;
  width: 55%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .header-logo__icon {
    width: 40px;
  }
  .header-logo__text {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .navigation {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .header {
    align-items: center;
  }
  .navigation {
    position: relative;
    height: auto;
    width: auto;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 7%;
    transform: translateX(0);
  }
  .navigation__list {
    flex-direction: row;
  }
  .navigation__anchor {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .navigation__anchor:hover {
    color: #2d76f9;
    font-weight: 700;
  }
  .navigation__about-btn {
    margin-top: auto;
  }
  .hamburger-menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 20px 40px;
  }
}
.hero {
  padding-top: 140px;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.hero-introduction {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  max-width: 480px;
  margin: 0 auto;
}
.hero-introduction__header {
  font-weight: 600;
}
.hero-introduction__summary {
  color: #747474;
}
.hero-introduction__download-btn {
  font-family: "Nunito", sans-serif;
}

.hero-background {
  background-color: black;
  min-height: 400px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #d6e5fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.hero-background__image {
  z-index: 3;
  position: relative;
  max-width: 350px;
}
.hero-background__circle:nth-of-type(1) {
  height: 280px;
  width: 280px;
  position: absolute;
  left: -90px;
  top: -100px;
  border: 50px solid #f5f9ff;
  border-radius: 100%;
  opacity: 0.4;
}
.hero-background__circle:nth-of-type(2) {
  height: 280px;
  width: 280px;
  position: absolute;
  right: -90px;
  bottom: -100px;
  border: 50px solid #f5f9ff;
  border-radius: 100%;
  opacity: 0.4;
}

@media (min-width: 640px) {
  .hero-introduction__download-btn {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  .hero-introduction {
    margin: 0;
  }
  .hero-background {
    min-height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 400px;
    border-radius: 0px 0px 0px 100px;
    margin-top: auto;
  }
}
@media (min-width: 1024px) {
  .hero {
    overflow: visible;
  }
  .hero-introduction {
    max-width: 510px;
  }
  .hero-background {
    width: 40%;
    min-height: 700px;
    max-width: none;
  }
  .hero-background__image {
    width: 100%;
    max-width: none;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 140px 40px 0 40px;
  }
  .hero-introduction {
    gap: 50px;
  }
  .hero-background {
    width: 45%;
    max-width: 800px;
  }
  .hero-background__image {
    width: 95%;
  }
  .hero-background__circle:nth-of-type(1) {
    height: 440px;
    width: 440px;
    left: -140px;
    top: -180px;
    border: 90px solid #f5f9ff;
  }
  .hero-background__circle:nth-of-type(2) {
    height: 440px;
    width: 440px;
    right: -140px;
    bottom: -180px;
    border: 90px solid #f5f9ff;
  }
}
@media (min-width: 1280px) {
  .hero-background {
    min-height: 800px;
  }
}
.features {
  padding: 50px 20px 80px 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

.feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 350px;
  margin: 0 auto;
}
.feature__icon {
  border-radius: 100%;
  background-color: #eef4ff;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__main-point {
  font-size: 1.2rem;
}
.feature__detail {
  color: #747474;
}

@media (min-width: 768px) {
  .features {
    padding-top: 120px;
  }
  .feature {
    max-width: 200px;
  }
}
@media (min-width: 1024px) {
  .features {
    padding-top: 200px;
  }
  .feature {
    max-width: 350px;
  }
}
@media (min-width: 1200px) {
  .features {
    padding: 240px 40px 0 40px;
  }
  .feature {
    text-align: start;
    align-items: flex-start;
    gap: 20px;
  }
}
.advantages {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.advantages-details {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.advantages-image {
  background-color: #eef4ff;
  overflow: hidden;
}
.advantages-image--reverse {
  border-radius: 0;
}
.advantages-image img {
  object-position: -25px 5px;
}

@media (min-width: 768px) {
  .advantages-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .advantages-container--flex-reverse {
    flex-direction: row-reverse;
  }
  .advantages-image {
    min-width: 300px;
    max-width: 690px;
    border-radius: 0px 50px 50px 0px;
  }
  .advantages-image--reverse {
    border-radius: 50px 0px 0px 50px;
  }
  .advantages-image img {
    object-position: 0;
    width: 100%;
  }
  .advantages-details {
    max-width: 500px;
  }
}
@media (min-width: 1024px) {
  .advantages-details {
    gap: 50px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding: 100px 0 0 0;
  }
  .advantages-image {
    border-radius: 0px 100px 100px 0px;
  }
  .advantages-image--reverse {
    border-radius: 100px 0px 0px 100px;
  }
}
.user-paging {
  padding: 40px 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.user-paging-info {
  background-color: #2d76f9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-height: 300px;
  padding: 30px 20px;
  border-radius: 20px;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
}
.user-paging-info__circle:nth-of-type(1) {
  height: 200px;
  width: 200px;
  position: absolute;
  left: -90px;
  top: -100px;
  border: 50px solid #f5f9ff;
  border-radius: 100%;
  opacity: 0.2;
}
.user-paging-info__circle:nth-of-type(2) {
  height: 200px;
  width: 200px;
  position: absolute;
  right: -90px;
  bottom: -100px;
  border: 50px solid #f5f9ff;
  border-radius: 100%;
  opacity: 0.2;
}
.user-paging-info__header {
  width: 82%;
  max-width: 720px;
  color: white;
  font-weight: 500;
}
.user-paging-info__btns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.user-paging-info__download-btn {
  background-color: white;
  color: #2d76f9;
  width: 100%;
  max-width: 204px;
  font-family: "Poppins", sans-serif;
  padding: 18px 0;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 30px;
}
.user-paging-info__about-app-btn {
  border: 1px solid white;
  color: white;
  width: 100%;
  max-width: 204px;
  font-family: "Poppins", sans-serif;
  padding: 18px 0;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 30px;
}

@media (min-width: 640px) {
  .user-paging-info__btns {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .user-paging {
    padding-top: 120px;
  }
}
@media (min-width: 1024px) {
  .user-paging-info {
    min-height: 400px;
    gap: 60px;
  }
  .user-paging-info__circle:nth-of-type(1) {
    height: 240px;
    width: 240px;
    left: -120px;
    top: -100px;
  }
  .user-paging-info__circle:nth-of-type(2) {
    height: 240px;
    width: 240px;
    right: -120px;
    bottom: -100px;
  }
}
@media (min-width: 1280px) {
  .user-paging {
    padding-left: 0;
  }
}
.testimonial {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

.testimonial-image {
  background-color: #eef4ff;
  padding-right: 30px;
  display: none;
  border-radius: 0 100px 100px 0;
}

.testimonial-showcase {
  padding: 0 20px;
}

.testimonial-showcase-header {
  text-align: center;
}

.testimonial-slider {
  max-width: 500px;
  margin: 40px auto 0 auto;
}
.testimonial-slider__slide {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.testimonial-client {
  display: flex;
  align-items: center;
  gap: 20px;
}
.testimonial-client__profile-pic {
  border-radius: 100%;
  object-fit: cover;
}

.testimonial-client-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.testimonial-client-info__name {
  font-size: 0.9rem;
}
.testimonial-client-info__occupation {
  font-size: 0.7rem;
  color: #747474;
}

.testimonial-quote {
  margin-top: 10px;
}

.testimonial-arrows {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.testimonial-arrows i {
  font-size: 1.4rem;
  color: #2d76f9;
  cursor: pointer;
}

@media (min-width: 768px) {
  .testimonial {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 100px;
  }
  .testimonial-image {
    display: block;
    max-width: 700px;
  }
  .testimonial-showcase {
    max-width: 400px;
  }
  .testimonial-client__profile-pic {
    width: 70px;
    height: 70px;
  }
  .testimonial-client-info__name {
    font-size: 1rem;
  }
  .testimonial-client-info__occupation {
    font-size: 0.8rem;
  }
  .testimonial-slider {
    max-width: 420px;
  }
  .testimonial-arrows {
    justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  .testimonial-showcase-header {
    text-align: start;
  }
  .testimonial {
    justify-content: flex-start;
    gap: 100px;
  }
  .testimonial-slider__slide {
    gap: 30px;
  }
  .testimonial-arrows {
    margin-top: 50px;
  }
  .testimonial-showcase {
    max-width: 800px;
  }
}

/*# sourceMappingURL=styles.css.map */
